include ../mixins/_mixins.pug

doctype html
html
  
  include ../components/_header.pug

  body

    main
      div.custom-container
        include ../components/_logo.pug 
        
        h1
          b About this

        div.row
          p Conceptual application that shows many aspects of mini-apps I developed on a daily basis to improve workflows.
            br 
            | Developed using Appscript, Typescript, Pug, Sass, Materialize CSS, Parcel and the SVGs were made with BoxySvg.

          h3 
            b Why use Appscript?

          p Many organizations use Google Forms to organize processes. Appscript offers a way to customize many of the Google Services, including Forms itself. But why not create something even more customized with Google Scripts?

          h4 
            b Wanna see this working?

          p Source code at
            a(href="https://github.com/magedeungaro/appscript_app") github

          p Send a
            em demo request
            |  and take a look at this 
            a(href="https://docs.google.com/spreadsheets/d/1JOWLsx4v434yeza_ufh816wIRfAHbi0VDImr13VmQ8Q/edit?usp=sharing") spreadsheet! 

          +button_link("<?= ScriptApp.getService().getUrl()?>", "", "custom-button", 'arrow_back', 'Back')


    include ../components/_footer.pug 

    include ../components/_loading.pug 

    include ../components/_topButton.pug 
    
    include ../components/_scripts.pug 

   
