include ../mixins/_mixins.pug

doctype html
html
  
  include ../components/_header.pug

  body

    main
      div.custom-container
        include ../components/_logo.pug 

        div.custom-container
          h1
            b Demo App

          div.row
            +search("search", "Tente 'Maya'...", "cards-container")
            
        
    include ../components/_footer.pug 

    include ../components/_loading.pug 

    include ../components/_topButton.pug 

    include ../components/_template.pug 
    
    include ../components/_scripts.pug 

   
