include ../pug_mixins/_mixins.pug

doctype html
html
  
  include ../pug_components/_header.pug

  body#mat2

    main
      div.container
        include ../pug_components/_logo.pug 
        
        h1
          b Portal de Requisição
        div.row
          p Esta é uma aplicação conceitual que engloba diversos aspectos das mini-aplicações que desenvolvo no dia a dia para melhoria de fluxos.
        +button_link("<?= ScriptApp.getService().getUrl()?>?v=req", "epiBtn", 'add_shopping_cart', 'Fazer pedido')
     
        +button_link("<?= ScriptApp.getService().getUrl()?>?v=acpto", "matBtn", 'local_shipping', 'Acompanhar pedido')

    include ../pug_components/_footer.pug 

    include ../pug_components/_loading.pug 

    include ../pug_components/_topButton.pug 
    
    include ../pug_components/_scripts.pug 

   
