include ../pug_mixins/_mixins.pug

doctype html
html
  
  include ../pug_components/_header.pug 

  body#mat2
    main
        div.container
            include ../pug_components/_logo.pug 

            h1 
              b 
                small Make your request

            span.pink_#camposObrigatorios
             
            div.row
                div.input-field.col.s12
                  p Name
                    span.pink_  *
                  input(type="text")#solicitante.validate
                
            div.row
              div.input-field.col.s12
                p Request a material
                  span.pink_ *

                select(multiple).material 
                  option(disabled, value="", selected) Select a material

                  <? const materials = getStaticData();?>
                   <? for(let k = 0; k < materials.cod.length; k++){ ?>
                  option <?= `${materials.cod[k]} - ${materials.desc[k]}`; ?>
                  <? }?>

            div.row
              div.input-field.col.s12
                p Select preferred shipping date 
                  span.pink_ *
                  
                input(type="text").datepicker

            div.row.enviar
              +button("btn", "send", "Next")

    include ../pug_components/_footer.pug 

    include ../pug_components/_loading.pug 
    
    include ../pug_components/_topButton.pug 
    
    include ../pug_components/_scripts.pug 
    
    <?!= include("js2"); ?>