doctype html 
html 
  
  include ../pug_components/_header.pug 

  body#mat2
    main
        div.container
            include ../pug_components/_logo.pug 

            h1 
              b 
                small Painel

            span.pink_#camposObrigatorios
             
            div.row
                div.input-field.col.s6
                  p Solicitante (Nome Completo) 
                    span.pink_  *
                  input(type="text")#solicitante.validate
                
                div.input-field.col.s6
                  p Matrícula (XXXXXX) 
                    span.pink_ *
                  input(type="text")#cs.validate.cs
                  small 
                    span.pink_ 
             
            div.row
              div.input-field.col.s6
                p Tipo de impressão 
                  span.pink_ *
                select#tipo1.validate
                  option(selected) Preto e Branco
                  option Colorido
               
              div.input-field.col.s6
                p Tipo de impressão 2 
                  span.pink_ *
                select#tipo2.validate
                  option(selected) Frente e Verso
                  option Frente
             
            div.row
              div.input-field.col.s12
                p Solicitação
                  span.pink_ *
                textarea#solicitacao.materialize-textarea.validate

            div.row
              div.input-field.col.s12
                p Data Necessidade
                  span.pink_ *
                input(type="text").datepicker.validate#data
                small
                  span.pink_#avisoPrazo

            div.row.enviar
              button#btn.waves-effect.waves-light.btn-small.col.s3
                i.material-icons.left send
                span Registrar

    footer
      div.container
        span Copyright &copy; 2021
          b Mage Deungaro

    div.loading.hidden#loading
      div.container
        div.progress
         div.indeterminate
    
    button(onclick="topFunction()", title="Go to top")#topBtn
      i.material-icons
      span arrow_upward
    <?!= include("js"); ?>
    <?!= include("js2"); ?>
        <!-- Compiled and minified JavaScript -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")