*,
*::before,
*::after {
  box-sizing: inherit;
  word-break: keep-all;
}

*:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}
