.custom-button {
  color: white;
  cursor: pointer;
  font-weight: bold;
  height: 42px;
  background-color: $magenta;
  border: 1px solid $magenta;

  &:hover {
    background-color: white;
    color: $magenta;
  }

  & i.material-icons {
    font-size: 20px;
  }
}

button.col.s3.btn-small {
  width: 30%;
}

#top-btn {
  display: none;
  background: transparent;
  color: $grass;
  cursor: pointer;
  border: none;
  outline: 1px solid $grass;
  outline-offset: 11px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: 0.5s;
  padding: 15px;

  &:hover {
    color: $papaya;
    outline: 1px solid $papaya;
    outline-offset: 0;
  }
}
