template#card
  .col.s12.m6
    .card
      .card-image
        img(src='').monster-sprite
        span.card-title 
      .card-content
        span.monster-interval
        span.monster-element
        span.monster-map
      .card-action.hidden
        a(href='#') This is a link