template#card-template
  .item
    .custom-container
      .image-container
        img(src='').monster-sprite
         
      .monster-info
        p
          b
            span.monster-name
        p 
          b spawn: 
          span.monster-interval
        p 
          b element: 
          span.monster-element
        p 
          b map-id: 
          span.monster-map
    