template#card-template
  .item
    .custom-container
      .image-container
        img(src='').monster-sprite
         
      .monster-info
        p
          b
            span.monster-name
          
        p 
          span.monster-element

        +button(null, 'card-choose', null, 'choose')

    
    