mixin button_link(link, id, icon, text)
  .row.enviar
    a(href=link)
      +button(id, icon, text)

mixin button(id, icon, text)
  button(id=id).waves-effect.waves-light.btn-small.col.s3
    i.material-icons.left #{icon}
    span= text